@model bd.webapprm.entidades.Empleado

@{
    ViewData["Title"] = "Empleado";
}
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Empleados</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdEmpleado" />
                                <input type="hidden" asp-for="IdPersona" />
                                <fieldset>
                                    <legend>Datos de Persona</legend>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.Nombres"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="100" asp-for="Persona.Nombres" class="form-control" />
                                                <span asp-validation-for="Persona.Nombres" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.Apellidos"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="100" asp-for="Persona.Apellidos" class="form-control" />
                                                <span asp-validation-for="Persona.Apellidos" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.Identificacion"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="20" asp-for="Persona.Identificacion" class="form-control" />
                                                <span asp-validation-for="Persona.Identificacion" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.FechaNacimiento"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="Persona.FechaNacimiento" class="form-control" />
                                                <span asp-validation-for="Persona.FechaNacimiento" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.CorreoPrivado"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="Persona.CorreoPrivado" class="form-control" />
                                                <span asp-validation-for="Persona.CorreoPrivado" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="CiudadNacimiento.Provincia.Pais.Nombre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="CiudadNacimiento.Provincia.IdPais" class="form-control" asp-items="ViewBag.Pais"></select>
                                                <span asp-validation-for="CiudadNacimiento.Provincia.IdPais" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="CiudadNacimiento.Provincia.Nombre"></label>
                                        </section>

                                        <div id="div_provincia">
                                            @{ await Html.RenderPartialAsync("_ProvinciaSelect", Model); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdCiudadLugarNacimiento"></label>
                                        </section>

                                        <div id="div_ciudad">
                                            @{ await Html.RenderPartialAsync("_CiudadSelect", Model); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.TelefonoCasa"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="20" asp-for="Persona.TelefonoCasa" class="form-control" />
                                                <span asp-validation-for="Persona.TelefonoCasa" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.TelefonoPrivado"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="20" asp-for="Persona.TelefonoPrivado" class="form-control" />
                                                <span asp-validation-for="Persona.TelefonoPrivado" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.LugarTrabajo"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <textarea maxlength="500" asp-for="Persona.LugarTrabajo" class="form-control" style="padding:5px 9px !important;width:96%;"></textarea>
                                                <span asp-validation-for="Persona.LugarTrabajo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.IdEstadoCivil"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Persona.IdEstadoCivil" class="form-control" asp-items="ViewBag.EstadoCivil"></select>
                                                <span asp-validation-for="Persona.IdEstadoCivil" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.IdEtnia"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Persona.IdEtnia" class="form-control" asp-items="ViewBag.Etnia"></select>
                                                <span asp-validation-for="Persona.IdEtnia" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.IdGenero"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Persona.IdGenero" class="form-control" asp-items="ViewBag.Genero"></select>
                                                <span asp-validation-for="Persona.IdGenero" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.IdNacionalidad"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Persona.IdNacionalidad" class="form-control" asp-items="ViewBag.Nacionalidad"></select>
                                                <span asp-validation-for="Persona.IdNacionalidad" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.IdSexo"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Persona.IdSexo" class="form-control" asp-items="ViewBag.Sexo"></select>
                                                <span asp-validation-for="Persona.IdSexo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.IdTipoIdentificacion"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Persona.IdTipoIdentificacion" class="form-control" asp-items="ViewBag.TipoIdentificacion"></select>
                                                <span asp-validation-for="Persona.IdTipoIdentificacion" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Persona.IdTipoSangre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Persona.IdTipoSangre" class="form-control" asp-items="ViewBag.TipoSangre"></select>
                                                <span asp-validation-for="Persona.IdTipoSangre" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <legend>Datos de Empleado</legend>
                                    <div class="row" style="margin-top:25px;">
                                        <section class="col col-4">
                                            <label asp-for="FechaIngreso"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="FechaIngreso" class="form-control" />
                                                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="FechaIngresoSectorPublico"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="FechaIngresoSectorPublico" class="form-control" />
                                                <span asp-validation-for="FechaIngresoSectorPublico" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="TrabajoSuperintendenciaBanco"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="toggle" style="float:left;padding-right:50px !important;">
                                                <input type="checkbox" name="checkbox-toggle" asp-for="TrabajoSuperintendenciaBanco">
                                                <i data-swchon-text="SI" data-swchoff-text="NO"></i>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Nepotismo"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="toggle" style="float:left;padding-right:50px !important;">
                                                <input type="checkbox" name="checkbox-toggle" asp-for="Nepotismo">
                                                <i data-swchon-text="SI" data-swchoff-text="NO"></i>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="DeclaracionJurada"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="toggle" style="float:left;padding-right:50px !important;">
                                                <input type="checkbox" name="checkbox-toggle" asp-for="DeclaracionJurada">
                                                <i data-swchon-text="SI" data-swchoff-text="NO"></i>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IngresosOtraActividad"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="20" asp-for="IngresosOtraActividad" class="form-control" />
                                                <span asp-validation-for="IngresosOtraActividad" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="MesesImposiciones"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input type="number" asp-for="MesesImposiciones" class="form-control" min="0" max="600" />
                                                <span asp-validation-for="MesesImposiciones" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="DiasImposiciones"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input type="number" asp-for="DiasImposiciones" class="form-control" min="0" max="31" />
                                                <span asp-validation-for="DiasImposiciones" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="ProvinciaSufragio.Pais.Nombre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="ProvinciaSufragio.IdPais" class="form-control" asp-items="ViewBag.PaisSufragio"></select>
                                                <span asp-validation-for="ProvinciaSufragio.IdPais" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdProvinciaLugarSufragio"></label>
                                        </section>

                                        <div id="div_provinciaSufragio">
                                            @{ await Html.RenderPartialAsync("_ProvinciaSufragioSelect", Model); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdDependencia"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdDependencia" class="form-control" asp-items="ViewBag.Dependencia"></select>
                                                <span asp-validation-for="IdDependencia" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>
    <script src='~/lib/moment/min/moment.min.js'></script>
    <script src='~/lib/moment/locale/es.js'></script>
    <script src='~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/empleado/empleado.js'></script>
}