.dataTables_filter .input-group-addon {
    height: 16px !important;
}

.pagination {
    display: inline-flex !important;
}

button.ColVis_Button{
    height:26px !important;
    margin-bottom:6px !important;
}

.dataTables_filter .input-group-addon + .form-control{
    padding-left:7px !important;
}