@model bd.webapprm.entidades.ClaseActivoFijo
<section class="col col-8">
    <label class="input">
        <select asp-for="IdClaseActivoFijo" class="form-control" asp-items="ViewBag.ClaseActivoFijo"></select>
        <span asp-validation-for="IdClaseActivoFijo" class="text-danger"></span>
    </label>
</section>