@model bd.webapprm.entidades.CodigoActivoFijo
@{ 
    var tipoActivoFijo = ViewData["TipoAF"] ?? "";
    var claseActivoFijo = ViewData["ClaseAF"] ?? "";
}
<fieldset>
    <legend>Generaci&oacute;n y asignaci&oacute;n del C&oacute;digo &Uacute;nico</legend>
    <input type="hidden" asp-for="IdCodigoActivoFijo" />
    <div class="row">
        <div class="alert alert-info alert-block" style="border-left-width:5px !important;">
            <h4 class="alert-heading">Informaci&oacute;n</h4>
            El c&oacute;digo &uacute;nico de cada detalle de activo se generar&aacute; a partir de la Clase de Activo y Tipo de Activo al cual pertenece, adem&aacute;s de un consecutivo.
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <section class="col col-4">
            <label>Tipo de Activo Fijo</label>
        </section>

        <section class="col col-8">
            <label class="input">
                <input class="form-control" disabled="disabled" value="@tipoActivoFijo" style="background:#ededed !important;" />
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-4">
            <label>Clase de Activo Fijo</label>
        </section>

        <section class="col col-8">
            <label class="input">
                <input class="form-control" disabled="disabled" value="@claseActivoFijo" style="background:#ededed !important;" />
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-4">
            <label>C&oacute;digo &Uacute;nico</label>
        </section>

        <section class="col col-8">
            <label class="input">
                <input type="number" id="numeroConsecutivo" name="numeroConsecutivo" min="1" value="1" class="form-control" />
                <span class="text-danger">@ViewData["errorNumeroConsecutivo"]</span>
            </label>
        </section>
    </div>

    <legend>Generaci&oacute;n del C&oacute;digo de Barras</legend>
</fieldset>