@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
@{ 
    var codigoActivoFijo = Model?.ActivoFijo?.CodigoActivoFijo;
    if (codigoActivoFijo != null)
    {
        if (codigoActivoFijo.CodigoBarras == "N/A")
        {
            codigoActivoFijo.CodigoBarras = "";
        }
    }

    var numeroConsecutivo = ViewBag.numeroConsecutivo ?? 1;
}
<fieldset>
    <legend>Generaci&oacute;n y asignaci&oacute;n del C&oacute;digo &Uacute;nico</legend>
    <div class="row">
        <div class="alert alert-info alert-block" style="border-left-width:5px !important;">
            <h4 class="alert-heading">Informaci&oacute;n</h4>
            El c&oacute;digo &uacute;nico de cada detalle de activo se generar&aacute; a partir de la Clase de Activo y Tipo de Activo al cual pertenece, adem&aacute;s de un consecutivo.
        </div>
    </div>

    <div class="row" style="margin-top:10px;">
        <section class="col col-4">
            <label asp-for="RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre"></label>
        </section>

        <section class="col col-8">
            <label class="input">
                <input class="form-control" asp-for="RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre" disabled="disabled" style="background:#ededed !important;" />
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-4">
            <label asp-for="RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre"></label>
        </section>

        <section class="col col-8">
            <label class="input">
                <input class="form-control" asp-for="RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre" disabled="disabled" style="background:#ededed !important;" />
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-4">
            <label>C&oacute;digo &Uacute;nico</label>
        </section>

        <section class="col col-8">
            <div class="input-group spinner" data-trigger="spinner">
                <input type="text" id="numeroConsecutivo" name="numeroConsecutivo" value="@numeroConsecutivo" class="form-control" data-rule="quantity" style="padding-left:10px !important;" />
                <div class="input-group-addon" style="padding-left:23px !important;">
                    <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                    <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                </div>
            </div>
            <span class="text-danger">@ViewData["errorNumeroConsecutivo"]</span>
        </section>
    </div>

    <legend>Generaci&oacute;n del C&oacute;digo de Barras</legend>

    <div class="row" style="margin-top:20px;">
        <section class="col col-4">
            <label asp-for="ActivoFijo.CodigoActivoFijo.CodigoBarras"></label>
        </section>

        <section class="col col-8">
            <label class="input">
                <input class="form-control" asp-for="ActivoFijo.CodigoActivoFijo.CodigoBarras" maxlength="20" />
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-4"></section>

        <section class="col col-8">
            <label class="input">
                <img id="barcode1" />
            </label>
        </section>
    </div>
</fieldset>
<script src="~/lib/JsBarcode-master/dist/JsBarcode.all.min.js"></script>