@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
@{
    bool isVistaDetalles = ViewBag.IsVistaDetalles ?? false;
    bool isPolizaSeguro = ViewBag.IsPolizaSeguro ?? false;
}

@{
    if (Model != null && Model.IdRecepcionActivoFijo > 0)
    {
        <div class="row">
            <section class="col col-4">
                <label asp-for="IdRecepcionActivoFijo"></label>
            </section>

            <section class="col col-8">
                <label class="input">
                    <input asp-for="IdRecepcionActivoFijo" class="form-control" disabled="disabled" />
                </label>
            </section>
        </div>
    }
}

<div class="row">
    <section class="col col-4">
        <label asp-for="RecepcionActivoFijo.IdMotivoAlta"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <select asp-for="RecepcionActivoFijo.IdMotivoAlta" class="form-control" asp-items="ViewBag.MotivoAlta"></select>
            <span asp-validation-for="RecepcionActivoFijo.IdMotivoAlta" class="text-danger"></span>
        </label>
    </section>
</div>

<div class="row">
    <section class="col col-4">
        <label asp-for="RecepcionActivoFijo.IdProveedor"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <select asp-for="RecepcionActivoFijo.IdProveedor" class="form-control" asp-items="ViewBag.Proveedor"></select>
            <span asp-validation-for="RecepcionActivoFijo.IdProveedor" class="text-danger"></span>
        </label>
    </section>
</div>

<div class="row">
    <section class="col col-4">
        <label asp-for="RecepcionActivoFijo.IdFondoFinanciamiento"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <select asp-for="RecepcionActivoFijo.IdFondoFinanciamiento" class="form-control" asp-items="ViewBag.FondoFinanciamiento"></select>
            <span asp-validation-for="RecepcionActivoFijo.IdFondoFinanciamiento" class="text-danger"></span>
        </label>
    </section>
</div>

<div class="row">
    <section class="col col-4">
        <label asp-for="RecepcionActivoFijo.FechaRecepcion"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <input asp-for="RecepcionActivoFijo.FechaRecepcion" class="form-control" />
            <span asp-validation-for="RecepcionActivoFijo.FechaRecepcion" class="text-danger"></span>
        </label>
    </section>
</div>

<div class="row">
    <section class="col col-4">
        <label asp-for="RecepcionActivoFijo.OrdenCompra"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <textarea asp-for="RecepcionActivoFijo.OrdenCompra" class="form-control paddingTextArea98"></textarea>
            <span asp-validation-for="RecepcionActivoFijo.OrdenCompra" class="text-danger"></span>
        </label>
    </section>
</div>

<legend>Distribuci&oacute;n</legend>
<div class="row margin-top-25">
    <section class="col col-4">
        <label>@Html.LabelFor(c => c.SucursalActual.Nombre)</label>
    </section>

    <section class="col col-8">
        <label class="input">
            <select class="form-control" id="IdSucursal" asp-items="ViewBag.Sucursal" disabled="disabled"></select>
        </label>
    </section>
</div>

<legend>P&oacute;liza de seguro</legend>

<div class="row margin-top-25">
    <section class="col col-4">
        <label asp-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.CompaniaSeguro.Nombre"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <select asp-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.IdCompaniaSeguro" class="form-control" asp-items="ViewBag.CompaniaSeguro"></select>
            <span asp-validation-for="RecepcionActivoFijo.PolizaSeguroActivoFijo.IdCompaniaSeguro" class="text-danger"></span>
        </label>
    </section>
</div>

@{
    if (!isVistaDetalles && !isPolizaSeguro)
    {
        <legend>Documentaci&oacute;n adicional</legend>
        <div class="row margin-top-25">
            <section class="col col-12 width100">
                <input type="file" id="file" name="file" multiple="multiple" />
            </section>
        </div>

        <legend>Activos Fijos adicionados</legend>
        <p class="margin-top-10">
            <button type="button" class="btn btn-primary" style="padding:7px !important;margin-left:7px !important;" onclick="cargarModalDatosActivoFijo(-1)" id="btnAdicionarActivosFijos">Adicionar activo fijo</button>
        </p>
    }
}