<select id="IdEmpleado" class="form-control" asp-items="ViewBag.Empleado"></select>
<span id="valIdEmpleado" class="text-danger validationDatosEspecificos"></span>
<input type="hidden" id="hIdRecepcionActivoFijoDetalleEmpleado" value="@ViewBag.IdRecepcionActivoFijoDetalle" />