@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
<article id="divInformacionAdicional" class="col-sm-12 col-md-12 col-lg-8">
    <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false" data-widget-custombutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-cloud-upload"></i> </span>
            <h2>Informaci&oacute;n adicional de Activo Fijo</h2>
        </header>

        <div>
            <div class="jarviswidget-editbox"></div>
            <div class="widget-body no-padding">
                <div class="smart-form">
                    <fieldset>
                        <div class="row" style="padding-left:15px !important;padding-right:15px !important;">
                            <div class="alert alert-info alert-block" style="border-left-width:5px !important;">
                                <h4 class="alert-heading">Informaci&oacute;n</h4>
                                Adicione documentaci&oacute;n o archivos referentes y fotograf&iacute;as de los bienes.<br />
                                Extensiones de archivos permitidas: <span style="color:#a90329;" id="spanExtensionesPermitidas"></span>
                            </div>
                        </div>
                    </fieldset>
                    <form asp-action="EditarRecepcion" id="mydropzone" class="dropzone" novalidate="novalidate" style="margin-left:15px !important;margin-right:15px !important;border:1px dashed;">
                        <input type="hidden" id="dir" name="dir" />
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</article>