@model bd.webapprm.entidades.UbicacionActivoFijo
<section class="col col-8">
    <label class="input">
        <select asp-for="IdLibroActivoFijo" class="form-control" asp-items="ViewBag.LibroActivoFijo"></select>
        <span asp-validation-for="IdLibroActivoFijo" class="text-danger"></span>
    </label>
</section>