@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
<section class="col col-8">
    <label class="input">
        <select asp-for="RecepcionActivoFijo.LibroActivoFijo.Sucursal.Ciudad.IdProvincia" class="form-control" asp-items="ViewBag.Provincia"></select>
        <span asp-validation-for="RecepcionActivoFijo.LibroActivoFijo.Sucursal.Ciudad.IdProvincia" class="text-danger"></span>
    </label>
</section>