@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
<section class="col col-8">
    <label class="input">
        <select asp-for="ActivoFijo.PolizaSeguroActivoFijo.IdSubramo" class="form-control" asp-items="ViewBag.Subramo"></select>
        <span asp-validation-for="ActivoFijo.PolizaSeguroActivoFijo.IdSubramo" class="text-danger"></span>
    </label>
</section>