@model bd.webapprm.entidades.RecepcionActivoFijoDetalle

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Bajas de Activos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="ActivoFijoBaja" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">
                                        <input type="hidden" asp-for="IdActivoFijo" />
                                        <input type="hidden" asp-for="IdRecepcionActivoFijoDetalle" />
                                        <input type="hidden" asp-for="ActivoFijo.CodigoActivoFijo.IdCodigoActivoFijo" />
                                        <section class="col col-4">
                                            <label asp-for="ActivoFijo.ActivosFijosBaja.IdMotivoBaja"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="ActivoFijo.ActivosFijosBaja.IdMotivoBaja" class="form-control" asp-items="ViewBag.MotivoActivoFijoBaja"></select>
                                                <span asp-validation-for="ActivoFijo.ActivosFijosBaja.IdMotivoBaja" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <input type="submit" value="Dar Baja" class="btn btn-primary" />
                                    <a asp-action="ActivosFijosRecepcionadosBaja" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>
}