@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<style>
    .widget-body.no-padding .alert {
        margin: 0 13px 10px !important;
    }
</style>
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Codificaci&oacute;n de Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="CodificacionActivoFijo" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.TipoActivoFijo.Nombre" />
                                <input type="hidden" asp-for="RecepcionActivoFijo.SubClaseActivoFijo.ClaseActivoFijo.Nombre" />
                                <input type="hidden" asp-for="ActivoFijo.CodigoActivoFijo.IdCodigoActivoFijo" />
                                <input type="hidden" asp-for="IdRecepcionActivoFijoDetalle" />
                                @{ await Html.RenderPartialAsync("_Codificacion", Model); }

                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="ActivoValidacionTecnica" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script src="~/lib/JsBarcode-master/dist/JsBarcode.all.min.js"></script>
@section Scripts{
    <script>
        jQuery(document).ready(function () {
            alert('Si');
            $("#barcode").JsBarcode("Hi!");
        });
    </script>
}