@model bd.webapprm.entidades.MantenimientoActivoFijo

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.css" />
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Mantenimientos Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="EditarMantenimiento" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdMantenimientoActivoFijo" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="FechaMantenimiento"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <input type="text" asp-for="FechaMantenimiento" class="form-control" />
                                                <span asp-validation-for="FechaMantenimiento" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="FechaDesde"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <input type="text" asp-for="FechaDesde" class="form-control" />
                                                <span asp-validation-for="FechaDesde" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="FechaHasta"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <input type="text" asp-for="FechaHasta" class="form-control" />
                                                <span asp-validation-for="FechaHasta" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdEmpleado"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.Empleado"></select>
                                                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdActivoFijo"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdActivoFijo" class="form-control" asp-items="ViewBag.ActivoFijo"></select>
                                                <span asp-validation-for="IdActivoFijo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Valor"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="Valor" class="form-control touchspin_tasa" />
                                                <span asp-validation-for="Valor" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Observaciones"></label>
                                        </section>
                                        <section class="col col-8">
                                            <label class="input">
                                                <textarea asp-for="Observaciones" class="form-control paddingTextArea97" rows="5"></textarea>
                                                <span asp-validation-for="Observaciones" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="ListarMantenimientos" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/lib/bootstrap-touchspin-master/src/jquery.bootstrap-touchspin.js'></script>
    <script src="~/js/activoFijo/mantenimiento.min.js"></script>
}