@model InventarioActivoFijo
@{
    List<RecepcionActivoFijoDetalleSeleccionado> listadoRecepcionActivoFijoDetalleSeleccionado = ViewBag.ListadoRecepcionActivoFijoDetalleSeleccionado;
    bool isVistaDetalles = ViewBag.IsVistaDetalles ?? false;
}

@section css{
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Inventario de Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="GestionarInventarioManual" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{
                                    if (Model != null)
                                    {
                                        <input type="hidden" asp-for="IdInventarioActivoFijo" />
                                    }
                                }
                                <input type="hidden" asp-for="InventarioManual" value="true" />
                                <input type="hidden" id="idsRecepcionActivoFijoDetalleSeleccionado" name="idsRecepcionActivoFijoDetalleSeleccionado" />
                                <fieldset>
                                    <legend>Datos Generales</legend>
                                    @{await Html.RenderPartialAsync("_DatosGeneralesInventario", Model);}

                                    @{ 
                                        if (!isVistaDetalles)
                                        {
                                            <div class="row" style="padding-left:15px !important;padding-right:15px !important;">
                                                <div class="alert alert-info alert-block" style="border-left-width:5px !important;">
                                                    <h4 class="alert-heading">Informaci&oacute;n</h4>
                                                    Seleccione los Activos Fijos que est&aacute;n Constatados marcando las casillas de selecci&oacute;n.
                                                </div>
                                            </div>
                                        }
                                    }                                    
                                    <legend>Activos Fijos en Alta</legend>
                                    <div class="margin-top-10" id="divActivosFijosATransferir">
                                        @{
                                            await Html.RenderPartialAsync("_ListadoDetallesActivosFijos", listadoRecepcionActivoFijoDetalleSeleccionado);
                                        }
                                    </div>
                                </fieldset>
                                <footer>
                                    @{ 
                                        if (!isVistaDetalles)
                                        {
                                            <button type="button" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                        }
                                    }
                                    <a asp-action="ListadoInventarioActivosFijos" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/inventarioManual.min.js"></script>
    <script>
        var idsRecepcionActivoFijoDetalle = "@String.Join(",", listadoRecepcionActivoFijoDetalleSeleccionado.Select(c => $"{c.RecepcionActivoFijoDetalle.IdRecepcionActivoFijoDetalle}_{c.Seleccionado}"))";
        var isVistaDetalles = "@isVistaDetalles".toLowerCase() === 'true';
    </script>
}