@model ProcesoJudicialActivoFijo

@section css{
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-fileinput/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/activoFijo/recepcion.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-9">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Proceso judicial de activo fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="GestionarProcesoJudicial" id="checkout-form" class="smart-form" novalidate="novalidate" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdRecepcionActivoFijoDetalle" value="@ViewBag.IdRecepcionActivoFijoDetalle" />
                                @{
                                    if (Model != null)
                                    {
                                        <input type="hidden" asp-for="IdProcesoJudicialActivoFijo" />
                                    }
                                }
                                <input type="hidden" id="idsRecepcionActivoFijoDetalle" name="idsRecepcionActivoFijoDetalle" />
                                <fieldset>
                                    <legend>Datos generales</legend>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="NumeroDenuncia"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="NumeroDenuncia" class="form-control" />
                                                <span asp-validation-for="NumeroDenuncia" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <legend>Documentaci&oacute;n del Proceso</legend>
                                    <div class="row margin-top-25">
                                        <section class="col col-12 width100">
                                            <input type="file" id="file" name="file" multiple="multiple" />
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="ListadoProcesosJudiciales" asp-route-id="@ViewBag.IdRecepcionActivoFijoDetalle" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_FileInputScriptsPartial");}
    <script src="~/js/activoFijo/procesoJudicial.min.js"></script>
}