@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<script src="~/lib/JsBarcode-master/dist/JsBarcode.all.min.js"></script>
<script src='~/js/site.js'></script>
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Hoja de Vida del de Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <fieldset style="padding:15px 15px !important;">
                                @{ await Html.RenderPartialAsync("_HojaVidaActivo", Model); }
                            </fieldset>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

