@model List<InventarioActivoFijo>

@section css{
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" />
}
<div id="content">
    <p>
        <div class="input-group-btn">
            <span class="btn btn-primary" tabindex="-1">Nuevo inventario</span>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a asp-action="GestionarInventarioManual">Manual (agrupado por fondo, clase y subclase)</a></li>
                <li><a asp-action="GestionarInventarioAutomatico">Autom&aacute;tico (mediante lector de c&oacute;digo de barras)</a></li>
            </ul>
        </div>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Inventarios de activos fijos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            @{await Html.RenderPartialAsync("_VistaSeleccionRangoFecha");}
                            <div id="divTablaListado">
                                @{await Html.RenderPartialAsync("_ListadoInventarioActivosFijos", Model);}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
    <script src="~/js/activoFijo/listadoSeleccion.min.js"></script>
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    <script src="~/js/datatables/rangoFecha.min.js"></script>
    <script>
        mostrarNoSeleccionados = true;
        var urlListadoTabla = "@Url.Action("ListadoInventarioResult")";
    </script>
}