@model List<bd.webapprm.entidades.MantenimientoActivoFijo>

<div id="content">
    <p>
        <a asp-action="CrearMantenimiento" asp-route-id="@ViewBag.IdRecepcionActivoFijoDetalle" class="btn btn-primary">Nuevo mantenimiento</a>
    </p>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Mantenimientos de activos fijos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            @{await Html.RenderPartialAsync("_ListadoMantenimientos", Model);}
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    <script src='~/js/datatables/initDatatableFiltrado.min.js'></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/listadoAgrupacion.min.js"></script>
}
