@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Revisi&oacute;n de Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                @{ await Html.RenderPartialAsync("_HojaVidaActivo", Model); }

                                <footer>
                                    @Html.ActionLink("Aprobar", "CodificacionActivoFijo", new { id = Model.IdRecepcionActivoFijoDetalle }, new { @class = "btn btn-primary" })
                                    <a href="javascript:void(0);" id="btn_desaprobar" class="btn btn-danger" onclick="abrirVentanaConfirmacion('btn_desaprobar')" data-url="@Url.Action("DesaprobarActivoFijo", values: new { id = Model.IdRecepcionActivoFijoDetalle })" data-titulo="Emitir desaprobaci&oacute;n" data-descripcion="&#191;Desea desaprobar la recepci&oacute;n de este Activo Fijo?">Desaprobar</a>
                                    <a asp-action="ActivoValidacionTecnica" class="btn btn-default">Cancelar</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/init.min.js'></script>
}