@model bd.webapprm.entidades.RecepcionActivoFijoDetalle
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Revisi&oacute;n de Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="Create" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                               @{ await Html.RenderPartialAsync("_HojaVidaActivo", Model); }

                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <input type="submit" value="Aprobar" class="btn btn-primary" />
                                    <a href="#" id="smart-mod-eg1" class="btn btn-danger">Desaprobar</a>
                                    <a asp-action="ActivoValidacionTecnica" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        jQuery(document).ready(function () {
            $("#smart-mod-eg1").click(function (e) {
                $.SmartMessageBox({
                    title: "Emitir desaprobaci&oacute;n",
                    content: "&#191;Desea desaprobar la recepci&oacute;n de este Activo Fijo?",
                    buttons: '[No][Si]'
                }, function (ButtonPressed) {
                    if (ButtonPressed === "Si")
                    {
                        $.smallBox({
                            title: "Callback function",
                            content: "<i class='fa fa-clock-o'></i> <i>You pressed Yes...</i>",
                            color: "#659265",
                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                            timeout: 4000
                        });
                    }
                });
                e.preventDefault();
            })
        });
    </script>
}