@model bd.webapprm.entidades.ActivoFijo
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-8">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Revisi&oacute;n de Activo Fijo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                @{ await Html.RenderPartialAsync("_HojaVidaActivo", Model); }

                                <footer>
                                    <a href="javascript:void(0);" id="btn_aprobar" class="btn btn-primary" onclick="abrirVentanaConfirmacion('btn_aprobar')" data-url="@Url.Action("GestionarAprobacionActivoFijo", values: new { id = Model.IdActivoFijo, id2 = true })" data-titulo="Emitir aprobaci&oacute;n" data-descripcion="&#191;Desea aprobar la recepci&oacute;n de este Activo Fijo?">Aprobar</a>
                                    <a href="javascript:void(0);" id="btn_desaprobar" class="btn btn-danger" onclick="abrirVentanaConfirmacion('btn_desaprobar')" data-url="@Url.Action("GestionarAprobacionActivoFijo", values: new { id = Model.IdActivoFijo, id2 = false })" data-titulo="Emitir desaprobaci&oacute;n" data-descripcion="&#191;Desea desaprobar la recepci&oacute;n de este Activo Fijo?">Desaprobar</a>
                                    <a asp-action="ActivosFijosValidacionTecnica" class="btn btn-default">Cancelar</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/js/datatables/init.min.js'></script>
    <script src="~/lib/JsBarcode-master/dist/JsBarcode.all.min.js"></script>
    <script src="~/js/activoFijo/revision.min.js"></script>
}