@model bd.webapprm.entidades.MaestroArticuloSucursal

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/jquery.spinner-master/dist/css/bootstrap-spinner.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-9">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Maestro de art&iacute;culo de sucursal</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdMaestroArticuloSucursal" />
                                <input type="hidden" asp-for="GrupoArticulo" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdSucursal"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdSucursal" class="form-control" asp-items="ViewBag.Sucursal"></select>
                                                <span asp-validation-for="IdSucursal" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdArticulo"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdArticulo" class="form-control" asp-items="ViewBag.Articulo"></select>
                                                <span asp-validation-for="IdArticulo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label>Consecutivo</label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="CodigoArticulo" class="form-control" maxlength="5" onkeyup="putNumeroConsecutivo(this)" />
                                            </label>
                                            <div class="note">
                                                <strong><label asp-for="CodigoArticulo"></label></strong> <span id="spanCodigoSecuencial">@Model.GrupoArticulo</span><span id="spanNumeroConsecutivo">@String.Format(".{0}", Model.CodigoArticulo)</span>
                                            </div>
                                            <span asp-validation-for="CodigoArticulo" class="text-danger"></span>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Minimo" class="col-md-2 control-label"></label>
                                        </section>

                                        <section class="col col-8">
                                            <div class="input-group spinner" data-trigger="spinner">
                                                <input type="text" asp-for="Minimo" class="form-control" data-rule="quantity" style="padding-left:10px !important;" />
                                                <div class="input-group-addon" style="padding-left:23px !important;">
                                                    <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                                                    <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                                                </div>
                                            </div>
                                            <span asp-validation-for="Minimo" class="text-danger"></span>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Maximo" class="col-md-2 control-label"></label>
                                        </section>

                                        <section class="col col-8">
                                            <div class="input-group spinner" data-trigger="spinner">
                                                <input type="text" asp-for="Maximo" class="form-control" data-rule="quantity" style="padding-left:10px !important;" />
                                                <div class="input-group-addon" style="padding-left:23px !important;">
                                                    <a href="javascript:;" class="spin-up" data-spin="up"><i class="fa fa-caret-up"></i></a>
                                                    <a href="javascript:;" class="spin-down" data-spin="down"><i class="fa fa-caret-down"></i></a>
                                                </div>
                                            </div>
                                            <span asp-validation-for="Maximo" class="text-danger"></span>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Habilitado"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="toggle" style="float:left;padding-right:50px !important;">
                                                <input type="checkbox" name="checkbox-toggle" asp-for="Habilitado">
                                                <i data-swchon-text="SI" data-swchoff-text="NO"></i>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/lib/jquery.spinner-master/dist/js/jquery.spinner.min.js'></script>
    <script src='~/js/proveeduria/maestroArticuloSucursal.min.js'></script>
    <script>
        var codigoArticuloSelectResult = "@Url.Action("CodigoArticulo_SelectResult")";
        var isEditar = true;
    </script>
}