<div class="smart-form" style="background:#fafafa !important;">
    <div class="row">
        <section class="col col-4"></section>
        <section class="col col-4" style="margin-bottom:10px !important;">
            <label class="label">&nbsp;</label>
            <div class="inline-group">
                <label class="checkbox">
                    <input name="checkbox-inline" type="checkbox" id="chkRangoFecha" checked="checked">
                    <i></i>Emplear Rango de Fecha
                </label>
            </div>
        </section>
    </div>

    <div class="row">
        <section class="col col-4"></section>
        <section class="col col-4">
            <div class="input-group" id="defaultrange">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn default date-range-toggle" type="button" style="padding:7px 16px !important;">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </section>
    </div>
</div>