@{
    ViewData["Title"] = "Error";
}

@using bd.webapprm.entidades.Utils
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text-2 bounceInDown animated"> Acceso denegado. <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                        <h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i>Usted no tiene permiso para realizar esta acci&oacute;n.</strong></h2>
                        <br />
                        <p class="lead">
                            Contacte con el <strong> ADMINISTRADOR</strong> para obtener m&aacute;s informaci&oacute;n.
                        </p>
                        <p class="font-md">
                            <b>
                                <strong>Correo electr&oacute;nico :</strong>
                                <a>administrador@bde.ec</a>
                            </b>
                        </p>
                        <p class="font-md">
                            <b>
                                <strong>Ext:</strong>
                                <a>117</a>
                            </b>
                        </p>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-inline">
                                    <li>
                                        &nbsp;<a href="@WebApp.BaseAddressWebAppLogin">Pantalla de autenticaci&oacute;n <i class="glyphicon glyphicon-log-in"></i></a>&nbsp;
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{await Html.RenderPartialAsync("_StyleAccesoDenegado");}
