@model bd.webapprm.entidades.Articulo

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-9">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Art&iacute;culos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdArticulo" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="SubClaseArticulo.ClaseArticulo.TipoArticulo.Nombre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="SubClaseArticulo.ClaseArticulo.IdTipoArticulo" class="form-control" asp-items="ViewBag.TipoArticulo"></select>
                                                <span asp-validation-for="SubClaseArticulo.ClaseArticulo.IdTipoArticulo" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="SubClaseArticulo.ClaseArticulo.Nombre"></label>
                                        </section>

                                        <div id="div_claseArticulo">
                                            @{ await Html.RenderPartialAsync("_ClaseArticuloSelect", Model ?? new bd.webapprm.entidades.Articulo()); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="SubClaseArticulo.Nombre"></label>
                                        </section>

                                        <div id="div_subClaseArticulo">
                                            @{ await Html.RenderPartialAsync("_SubClaseArticuloSelect", Model ?? new bd.webapprm.entidades.Articulo()); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Modelo.Marca.Nombre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Modelo.IdMarca" class="form-control" asp-items="ViewBag.IdMarca"></select>
                                                <span asp-validation-for="Modelo.IdMarca" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Modelo.Nombre"></label>
                                        </section>

                                        <div id="div_modelo">
                                            @{ await Html.RenderPartialAsync("_ModeloSelect", Model ?? new bd.webapprm.entidades.Articulo()); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdUnidadMedida"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdUnidadMedida" class="form-control" asp-items="ViewBag.IdUnidadMedida"></select>
                                                <span asp-validation-for="IdUnidadMedida" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Nombre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input asp-for="Nombre" class="form-control" />
                                                <span asp-validation-for="Nombre" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/articulo/articulo.min.js"></script>
    <script>
        var claseArticuloSelectResult = "@Url.Action("ClaseArticulo_SelectResult")";
        var subClaseArticuloSelectResult = "@Url.Action("SubClaseArticulo_SelectResult")";
        var modeloSelectResult = "@Url.Action("Modelo_SelectResult")";
    </script>
}