@model bd.webapprm.entidades.Bodega
<section class="col col-8">
    <label class="input">
        <select asp-for="IdSucursal" class="form-control" asp-items="ViewBag.Sucursal"></select>
        <span asp-validation-for="IdSucursal" class="text-danger"></span>
    </label>
</section>