@model bd.webapprm.entidades.Bodega

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Bodega</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdBodega" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Sucursal.Ciudad.Provincia.Pais.Nombre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Sucursal.Ciudad.Provincia.IdPais" class="form-control" asp-items="ViewBag.Pais"></select>
                                                <span asp-validation-for="Sucursal.Ciudad.Provincia.IdPais" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Sucursal.Ciudad.Provincia.Nombre"></label>
                                        </section>

                                        <div id="div_provincia">
                                            @{ await Html.RenderPartialAsync("_ProvinciaSelect", Model); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Sucursal.Ciudad.Nombre"></label>
                                        </section>

                                        <div id="div_ciudad">
                                            @{ await Html.RenderPartialAsync("_CiudadSelect", Model); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Sucursal.Nombre"></label>
                                        </section>

                                        <div id="div_sucursal">
                                            @{ await Html.RenderPartialAsync("_SucursalSelect", Model); }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="Nombre"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input maxlength="32" asp-for="Nombre" class="form-control" />
                                                <span asp-validation-for="Nombre" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <span class="text-danger">@ViewData["Error"]</span>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/js/bodega/bodega.min.js'></script>
    <script>
        var provinciaSelectResult = "@Url.Action("Provincia_SelectResult")";
        var ciudadSelectResult = "@Url.Action("Ciudad_SelectResult")";
        var sucursalSelectResult = "@Url.Action("Sucursal_SelectResult")";
    </script>
}