@*@model List<bd.webapprm.entidades.Factura>*@

@{
    List<bd.webapprm.entidades.Factura> data = new List<bd.webapprm.entidades.Factura>();
    data = ViewBag.data;
}
<table class="table table-striped table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>
                N&uacute;mero de Factura
            </th>
            <th>
                Cantidad (Unidades)
            </th>
            <th>
                Opciones
            </th>
            <th hidden>
                ID_Factura
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (data.Count > 0)
            {               
            
                foreach (var item in data)
                {
                    <tr>
                        <td>
                            @item.Numero
                        </td>

                        <td>
                            0
                        </td>

                        <td hidden>
                            @item.IdFactura
                        </td>

                        <td>
                            <a href="#">@Html.ActionLink("Excluir", "ExcluirFacturasEnAlta", "Proveeduria", new { idFactura = item.IdFactura, ID = item.IdMaestroArticuloSucursal }, new { onclick = "ExcluirFacturas(" + item.IdFactura + ");", href = "javascript:;" })</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3" style="text-align:center">Sin Datos que mostrar...</td></tr>
            }
        }
    </tbody>
</table>