@model Proveedor
<div class="row">
    <section class="col col-4">
        <label asp-for="RazonSocial"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <input asp-for="RazonSocial" class="form-control" disabled="disabled" style="background:#e8e6e6;" />
        </label>
    </section>
</div>

<div class="row">
    <section class="col col-4">
        <label asp-for="Direccion"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <input asp-for="Direccion" class="form-control" disabled="disabled" style="background:#e8e6e6;" />
        </label>
    </section>
</div>

<div class="row">
    <section class="col col-4">
        <label asp-for="Identificacion"></label>
    </section>

    <section class="col col-8">
        <label class="input">
            <input asp-for="Identificacion" class="form-control" disabled="disabled" style="background:#e8e6e6;" />
        </label>
    </section>
</div>