@model bd.webapprm.entidades.RecepcionArticulos
<section class="col col-8">
    <label class="input">
        <select asp-for="Articulo.IdSubClaseArticulo" class="form-control" asp-items="ViewBag.SubClaseArticulo"></select>
        <span asp-validation-for="Articulo.IdSubClaseArticulo" class="text-danger"></span>
    </label>
</section>