@model RequerimientoArticulos

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Detalles de Requerimiento de Art&iacute;culos</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="smart-form">
                                @{await Html.RenderPartialAsync("_DetallesRequerimientoArticulos", Model);}

                                <footer>
                                    @{ 
                                        if (Model.Estado.Nombre == Estados.Solicitado)
                                        {
                                            <a href="javascript:void(0);" id="btn_aprobar" class="btn btn-primary" onclick="abrirVentanaConfirmacion('btn_aprobar')" data-url="@Url.Action("DespacharRequerimiento", values: new { id = Model.IdRequerimientoArticulos })" data-titulo="Dar salida" data-descripcion="&#191;Desea dar salida al Requerimiento de art&iacute;los?">Dar salida</a>
                                        }
                                    }
                                    <a asp-action="ListadoRequerimientosSolicitados" class="btn btn-default">Cancelar</a>
                                </footer>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>