@model OrdenCompra

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Detalles de orden de compra</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8 text-align-right">
                                        <a class="btn btn-primary" asp-action="ExportarExcelOrdenCompra" asp-route-id="@Model.IdOrdenCompra"><i class="fa fa-print"></i> Imprimir Orden de compra</a>
                                    </div>
                                </div>
                            </div>

                            <div class="smart-form">
                                @{await Html.RenderPartialAsync("_DetallesOrdenCompra", Model);}
                                <footer>
                                    @{
                                        if (Model.Estado.Nombre == Estados.EnTramite)
                                        {
                                            <a href="javascript:void(0);" id="btn_aprobar" class="btn btn-primary" onclick="abrirVentanaConfirmacion('btn_aprobar')" data-url="@Url.Action("ProcesarOrdenCompra", values: new { id = Model.IdOrdenCompra })" data-titulo="Procesar" data-descripcion="&#191;Desea procesar la Orden de compra?">Procesar</a>
                                        }
                                    }
                                    <a asp-action="ListadoOrdenCompraEntramite" class="btn btn-default">Cancelar</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>