@section css{
    <link rel="stylesheet" type="text/css" href="~/css/activoFijo/recepcion.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/tableSmartForm.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-daterangepicker/daterangepicker.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Reportes</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div class="widget-body-toolbar">
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8 text-align-right">
                                        <form asp-action="ExportarExcelMovSalida" id="checkout-form" class="smart-form noFormLoading" novalidate="novalidate">
                                            <input type="hidden" id="fechaInicial" name="fechaInicial" />
                                            <input type="hidden" id="fechaFinal" name="fechaFinal" />
                                            <button type="button" class="btn btn-primary padding-7" id="btn-guardar" onclick="eventoSubmitExcel()"><i class="fa fa-print"></i> Imprimir Movimientos de salida</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="padding-10">
                                <br>
                                <div class="pull-left">
                                    <h3 class="margin-top-0" style="font-size:212% !important;"><i class="fa fa-file-text-o"></i> Movimientos de salida</h3>
                                </div>
                                <div class="clearfix"></div>
                                <div class="smart-form padding-top-0">
                                    @{await Html.RenderPartialAsync("_VistaSeleccionRangoFecha");}
                                    <div id="divTablaListado"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts{
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <script src='~/js/activoFijo/listadoSeleccion.min.js'></script>
    <script src="~/js/activoFijo/listadoAgrupacion.min.js"></script>
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    <script src="~/js/datatables/rangoFecha.min.js"></script>
    <script src="~/js/proveeduria/movimientosRecepcionReporte.min.js"></script>
    <script>
        mostrarNoSeleccionados = true;
        var tipoReporte = "MovimientosSalida";
        var urlListadoTabla = "@Url.Action("ListadoReqResultRangoFecha")";
    </script>
}