@model RecepcionArticulos
@{
    var ordenCompra = ViewData["OrdenCompra"] as OrdenCompra;
}

@section css{
    <link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
}
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Orden de Compra</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <form asp-action="ProcesarOrdenCompraEnTramite" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" id="IdOrdenCompra" name="IdOrdenCompra" value="@ordenCompra.IdOrdenCompra" />
                                <fieldset>
                                    <legend>Datos generales</legend>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="FechaRecepcion"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <input type="text" asp-for="FechaRecepcion" class="form-control" />
                                                <span asp-validation-for="FechaRecepcion" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div class="row">
                                        <section class="col col-4">
                                            <label asp-for="IdMotivoRecepcionArticulos"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="IdMotivoRecepcionArticulos" class="form-control" asp-items="ViewBag.MotivoRecepcionArticulos"></select>
                                                <span asp-validation-for="IdMotivoRecepcionArticulos" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <legend>Datos de ubicaci&oacute;n</legend>
                                    <div class="row margin-top-25">
                                        <section class="col col-4">
                                            <label asp-for="Bodega.IdSucursal"></label>
                                        </section>

                                        <section class="col col-8">
                                            <label class="input">
                                                <select asp-for="Bodega.IdSucursal" class="form-control" asp-items="ViewBag.Sucursal"></select>
                                                <span asp-validation-for="Bodega.IdSucursal" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>

                                    <div id="divBodega">
                                        @{await Html.RenderPartialAsync("_BodegaProcesarSelect", new RecepcionArticulos());}
                                    </div>

                                    <legend id="legendDetallesProveedor" class="hide">Detalles del Proveedor al que se realiza la compra</legend>
                                    <div id="divDetallesProveedor" class="margin-top-25 hide"></div>

                                    <legend id="legendDetallesEmpleadoDevolucion" class="hide">Empleado que realiza la devoluci&oacute;n</legend>
                                    <div id="divDetallesEmpleadoDevolucion" class="margin-top-25 hide"></div>

                                    <legend>Detalles de orden de compra</legend>
                                    <div class="margin-top-25">
                                        @{await Html.RenderPartialAsync("_DetallesOrdenCompra", ordenCompra);}
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="ListadoOrdenCompraEntramite" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_Select2ScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DatetimePickerScriptsPartial");}
    <script src="~/js/proveeduria/procesarOrdenCompra.min.js"></script>
    <script>
        var proveedorSelectResult = "@Url.Action("ProveedorCompraResult")";
        var urlEmpleadoDevolucionSelectResult = "@Url.Action("EmpleadoDevolucionSelectResult")";
        var bodegaSelectResult = "@Url.Action("BodegaResult")";
    </script>
}